<div id='signup'>
  <h1>Signup</h1>

  <%= form_for :user, url: signup_path do |f| %>
    <%= f.label :name, "First Name" %>
    <%= f.text_field :first_name, placeholder: "DIO", :required => true %>

    <%= f.label :name, "Last Name" %>
    <%= f.text_field :last_name, placeholder: "Works", :required => true %>

    <%= f.label :name, "Email" %>
    <%= f.email_field :email, placeholder: "dioworks@dioworks.com", :required => true %>

    <%= f.label :name, "Sign Up as a Seller" %>
    <%= f.select :is_seller, [['No', false],['Yes', true]], :required => true %>

    <%= f.label :name, "Password" %>
    <%= f.password_field :password, placeholder: "Enter your password", :required => true %>

    <%= f.label :name, "Confirm Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Please confirm it", :required => true %>

    <%= f.submit "Sign Up" %>
  <% end %>
</div>
