<div class='product-form'>
  <h2>Update Product</h2>
  <%= form_for(@product, remote: true, :html => { id:"add-product"} ) do |f| %>

    <% if @product.errors.any? %>
      <% @product.errors.full_messages.each do |message| %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", :required => true %>
    </div>

    <div class="form-group">
      <%= f.label :original_price, 'Original Price' %>
      <%= f.number_field :original_price, min: 0.01, step: 0.01, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :discounted_price, 'Discounted Price' %>
      <%= f.number_field :discounted_price, min: 0.01, step: 0.01, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :status, "Available" %>
      <%= f.select :status, [['Yes', 'available'],['No', 'unavailable']], class: "form-control", :required => true %>
    </div>

    <div class="form-group">
      <%= f.label :image, 'Image' %>
      <% if @product.image_file_name  %>
        <br>
        <%= image_tag(@product.image, width: 200, crop: :fill) %>
        <%= f.file_field :image, accept: 'image/*'%>
      <% else %>
        <%= f.file_field :image, accept: 'image/*', :required => true%>
      <% end %>
    </div>

    <%= f.submit 'Update', class: "btn-full btn btn-success"  %>
    <script>
    $('.updating-product').submit(function (e) {
      e.preventDefault()
      $('<p style="color:red;">Uploading Please wait...</p>').insertBefore(this)
    })
    </script>
  <% end %>

  <script>
    function hideEdit() {
      $('.edit_product').hide()
      $(".add_product").show()
    }
  </script>

  <button onclick=hideEdit() class='btn-full btn-cancel btn'>Cancel</button>
</div>
