<%= form_for(@product, remote: true, :html => { id:"add-product"} ) do |f| %>

<% if product.errors.any? %>
  <ul style="list-style: none;">
    <% product.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "validate", required: true %>

  <%= f.label :description %>
  <%= f.text_field :description, :required => true %>

  <%= f.label :is_available, "Available" %>
  <%= f.select :is_available, [['Yes', true],['No', false]], :required => true %>

  <%= f.label :original_price, 'Original Price' %>
  <%= f.number_field :original_price, min: 0.01, step: 0.01, required: true %>

  <%= f.label :discounted_price, 'Discounted Price' %>
  <%= f.number_field :discounted_price, min: 0.01, step: 0.01, required: true %>

  <%= f.label :image_url, 'Image' %>
  <% if @product.image_url  %>
    <%= cl_image_tag(@product.image_url, width: 200, height: 100, crop: :fill) %>
  <% end %>

  <%= f.file_field :image_url, :required => true%>

  <%= f.submit 'Add Product', class: "btn waves-effect waves-light"  %>

<% end %>
