<div class='show-product-container'>
  <div class='show-product-image-container'>
    <%= image_tag(@product.image, alt:'product-image', class:'show-product-image')%>
  </div>
  <div class='col-sm-12 col-md-9'>
    <div class='show-product-information-container'>
      <p class='show-product-name'>
        <%= @product.name%>
      </p>
      <p class='show-product-seller'>
        <%= @product.user.first_name%>
      </p>
      <p class='show-product-description'>
        <%= @product.description %>
      </p>
    </div>
  </div>
  <div class='col-sm-12 col-md-3'>
    <div class='show-product-order-container'>
      <div class='show-product-prices-container'>
        <span class='show-product-discounted-price'>
          <%= number_to_currency(@product.discounted_price, precision: 2, locale: :en)%>
        </span>
        <span class='show-product-original-price'>
          <%= number_to_currency(@product.original_price, precision: 2, locale: :en)%>
        </span>
      </div>

      <% if @product.user != current_user%>
        <%= form_tag orders_path(:product => @product) do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
              <% end %>
          </article>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description=<%= @product.name %>
                data-amount=<%= @product.discounted_price*100 %>
                data-locale="auto">
          </script>
                <!-- <script>
                document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                </script>
                <button type="submit" class="order-btn btn btn-success">Buy</button> -->
        <% end %>
      <% else %>
        <p>
          You are selling this product.
        </p>
      <% end %>
    </div>
  </div>
</div>
